@model Meeting

<h1 class="bg-primary text-center text-white p-3">Add Meeting <i class="fa-regular fa-handshake"></i></h1>

<form asp-action="Add">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="MeetinngDate">Date Created</label>
        <input class="form-control" asp-for="MeetinngDate" />
    </div>
    <div class="mb-3">
        <label>Meeting Type</label>
        <select class="form-control" asp-items="ViewBag.MT" asp-for="MeetingTypeId">
            <option>Meeting Types</option>
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save <i class="fa-regular fa-floppy-disk"></i></button>
    </div>
</form>