@model List<Meeting>

<h1 class="bg-primary text-white text-center p-3">Meetings</h1>

<div class="row">
    <table id="meetingsTable" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Meeting Number</th><th>Date Created</th><th>Meeting Type</th><th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var meeting in Model)
            {
                <tr>
                    <td>@meeting.MeetingNumber</td>
                    <td>@meeting.MeetinngDate</td>
                    <td>@meeting.MeetingTypeId</td>
                    <td><a class="btn btn-sm btn-outline-info" asp-action="Edit" asp-route-id="@meeting.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <a class="btn btn-primary ms-auto w-25 me-2" asp-action="Add">New meeting</a>
</div>

<script>
    $(document).ready(function(){
        $('#meetingsTable').DataTable();
    });
</script>